/*global settings*/
* {
  background-image: linear-gradient(to right, #26c6da, #03a9f4);
  font-family: 'Nunito', sans-serif;
  color: black;
  /* margin: 0; */
  /* padding: 0;
    box-sizing: border-box; */
}

:root {
  --dark: #212121;
  --light: #f5f5f5; 
}

/* body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  header{

  }

  nav{

  } */

/* various headings
h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}  

h3  {
  font-size: 150%;
}
  ol, ul {
    list-style: none;
  }


  /* Matches the font of special elements to the rest of the page */
/* input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }  */